#card-catalogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card-catalogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 280px;
    height: 680px;
}
.card-catalogo button {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: 0.1px solid rgb(174, 174, 174);
    cursor: pointer;
}
.card-catalogo button:hover {
    background-color: rgb(51, 7, 182);
    color: aliceblue;
}
.container-catalogo {
    height: 600px;
    display: flex;
    flex-direction: column;
}
.container-catalogo div img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}
.dados-catalogo {
    height: 190px;
}
.dados-catalogo div {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    height: 52px;
}
.dados-catalogo span {
    margin: 10px;
    font-size: 30px;
}
.price-antigo {
    font-size: 20px;
    text-decoration: line-through;
}

.container-catalogo  div ul li {
    list-style: none;  
    margin: 5px; 
}

.card-catalogo button{
    
    width: 30px;
    margin: 10px;
    background-color: rgb(64, 0, 255);
    color: aliceblue;
}

.card-catalogo button:hover {
    background-color: rgb(68, 13, 232);
    
}
.detalhes {
    text-decoration: none;
    color: black;
    font-size: 20px;
}